<phpunit
  backupGlobals = "false"
  backupStaticAttributes = "false"
  colors = "true"
  convertErrorsToExceptions = "true"
  convertNoticesToExceptions = "true"
  convertWarningsToExceptions = "true"
  processIsolation = "false"
  stopOnFailure = "true"
  syntaxCheck = "false"
  bootstrap = "test/bootstrap.php"
>
  <testsuites>
    <testsuite name="Quinieleitor Test Suite">
      <directory>test/carlescliment/Quinieleitor</directory>
    </testsuite>
  </testsuites>
</phpunit>
